# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# config 파일 무시
config.py

# Virtual environment
.venv/
venv/
env/

# Selenium / webdriver-manager
.wdm/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
